h1 {
    color: #333;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #007BFF;;
    color: white;
}

td {
    background-color: #fafafa;
}

.green-color {
    color: green;
}
